{% extends "shop/base.html" %}

{% block css %}

body {
background-color: aqua;
}

.col-md-3 {
display: inline-block;
margin-left: -4px;
}

.col-md-3 img {
width: 227px;
height: 210px;
}

body .carousel-indicators li {
background-color: rgb(200, 200, 220);
}

body .carousel-indicators {
bottom: -30px; /* Adjust this value as needed to position below the carousel */
ml: -50px;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon {
background-color: rgb(236, 22, 47);
}

.carousel-control-prev {
margin-left: -130px;
}

.carousel-control-next {
margin-right: -130px;
}

body .carousel-indicators {
bottom: 0; /* Corrected from 'O' to '0' */
}

.carousel-indicators .active {
background-color: red;
}

.card-img-top {
padding: 9px;
<!-- border: 2px solid black; -->
}

body .no-padding {
padding-left: 0;
padding-right: 0;
}
{% endblock %}

{% block title %} Awesome Cart! {% endblock %}

{% block content %}
<div class="container">

  <!-- Slideshow starts here -->
  {% for product, range, nSlide in allProds %}
  <h3 class="my-4">Flash Sale On {{ product.0.category }} - Recommended items</h3>

  <div class="row">

    <div id="demo{{ forloop.counter }}" class="col carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo{{ forloop.counter }}" data-slide-to="0" class="active"></li>
        {% for i in range %}
        <li data-target="#demo{{ forloop.counter }}" data-slide-to="{{ i }}"></li>
        {% endfor %}
      </ul>

      <div class="container carousel-inner no-padding">
        <div class="carousel-item active">
          {% for i in product %}
          <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card align-items-center" style="width: 18rem;">
              <img class="card-img-top" src="/media/{{ i.image }}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" id="namepr{{ i.id }}">{{ i.product_name }}</h5>
                <p class="card-text">{{ i.desc }}</p>

                <span id="divpr{{ i.id }}" class="divpr">
                  <button id="pr{{ i.id }}" class="btn btn-primary cart">Add To Cart</button>
                </span>

                <a href="/shop/prodview/{{ i.id }}"> <button id="qv{{ i.id }}" class="btn btn-primary cart">Quick
                    View</button></a>
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
        </div>
        <div class="carousel-item">
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <!-- Left and right control -->
      <a class="carousel-control-prev" href="#demo{{ forloop.counter }}" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>

      <a class="carousel-control-next" href="#demo{{ forloop.counter }}" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
  {% endfor %}

  <a style="margin-left: 50px;" href="/">Blog page</a>
</div>
{% endblock %}

{% block js %}
<script>

  // Truncate text to a word limit
  function truncateText(element, wordLimit) {
    let words = element.innerText.split(' ');
    if (words.length > wordLimit) {
      element.innerText = words.slice(0, wordLimit).join(' ') + '...';
    }
  }

  // Truncate text to a character limit
  function truncateTextByCharacters(element, charLimit) {
    let text = element.innerText;
    if (text.length > charLimit) {
      element.innerText = text.slice(0, charLimit) + '...';
    }
  }

  document.addEventListener('DOMContentLoaded', function () {
    const descElements = document.querySelectorAll('.card-text');
    const titleElements = document.querySelectorAll('.card-title');

    descElements.forEach(desc => truncateTextByCharacters(desc, 20)); // Limit to 56 words
    titleElements.forEach(title => truncateTextByCharacters(title, 20)); // Limit to 56 characters
  });

  // Find the cart item from localStorage

  console.log('working')
  if (localStorage.getItem('cart') == null) {
    var cart = {};
  } else {
    cart = JSON.parse(localStorage.getItem('cart'));
    // document.getElementById('cart').innerHTML = Object.keys(cart).length;
    updateCart(cart);
  }

  // If add to cart button is clicked, Add /increment the item

  $('.cart').click(function () {
    // console.log('clicked')
    var idstr = this.id.toString();
    // console.log(idstr);
    if (cart[idstr] != undefined) {
      cart[idstr][0] = cart[idstr][0] + 1;
      // updateCart(cart);
    } else {
      qty = 1
      name=document.getElementById('name' + idstr).innerHTML
      cart[idstr] = [qty,name]
    }
    updateCart(cart);
    // localStorage.setItem('cart', JSON.stringify(cart));
    // document.getElementById('cart').innerHTML = Object.keys(cart).length;
  });

  // Add Popover to cart 

  $('#popcart').popover();
  updatePopover(cart);

  function updatePopover(cart) {
    // console.log('We are inside updatePopover')
    var popStr = "<h5>Cart for Your item in my shopping cart</h5> <div class='mx-2 my-2'>";
    var i = 1;
    for (var item in cart) {
      var itemName = document.getElementById('name' + item).innerHTML; // Extract the inner HTML
      popStr += "<b>" + i + "</b>. " + itemName + "....... Qty: " + cart[item][0] + "<br>";
      i += 1;
    }
    popStr += "</div> <a href = '/shop/checkout'><button class = 'btn btn-primary' id = 'checkout'>Checkout</button></a> <button class = 'btn btn-primary' onclick = 'clearCart()' id = 'clearcart'>Clear Cart</button>   ";
    // console.log(popStr);
    document.getElementById('popcart').setAttribute('data-content', popStr);
    $('#popcart').popover('show');
    // updateCart(cart);
  }
  updatePopover(cart);

  function clearCart() {
    cart = JSON.parse(localStorage.getItem('cart'));
    for (var item in cart) {
      document.getElementById('div' + item).innerHTML = '<button id = "' + item + '" class = "btn btn-primary cart">Add To Cart</button>'
    }

    localStorage.removeItem('cart');
    cart = {};
    updateCart(cart);

  }

  function updateCart(cart) {
    // console.log(cart);
    var sum = 0;
    for (var item in cart) {
      sum = sum + cart[item][0];
      document.getElementById('div' + item).innerHTML =
        "<button id='minus" + item + "' class='btn btn-primary minus'> - </button>" +
        "<span id='val" + item + "'>" + cart[item][0] + "</span>" +
        "<button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
    }

    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = sum;
    // console.log(cart);
    updatePopover(cart);
  }

  //If plus or minus button is clicked, change the cart as well as display value

  $('.divpr').on("click", "button.minus", function () {
    console.log('Minus clicked')
    a = this.id.slice(7);
    // console.log(a)
    cart['pr' + a][0] = cart['pr' + a][0] - 1;
    cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);

    document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
    updateCart(cart);
  })

  $('.divpr').on("click", "button.plus", function () {
    // console.log('Plus clicked')
    a = this.id.slice(6);
    console.log(a)
    // console.log(cart['pr' + a])

    cart['pr' + a][0] = cart['pr' + a][0] + 1;
    cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);

    // console.log(cart['pr' + a])

    document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
    updateCart(cart);
  })
</script>
{% endblock %}