{% extends "shop/base.html" %}
{% block content %}
<div class="container my-4">
    <div class="row">
        <div class="col-12 col-md-6 ">
            <div class="row ">
                <img src="/media/{{product.image}}" style="margin-top: 50px;" width="450" height="475" alt="">
            </div>
            <div class="row my-4" style="margin-left: 90px;">
                <button class="btn btn-primary cart">Buy Now</button>
                <button class="btn btn-primary cart mx-2">Add To Cart</button>
            </div>
        </div>
        <div class="col-6 col-md-6" style="margin-top: 50px;">
            <h1> {{product.product_name}}</h1>
            <h4><b>Rupees:-{{product.price}}</b></h4>
            <p>{{product.desc}}</p>
        </div>
    </div>
</div>

{% endblock %}